// Regular
@font-face {
    font-family: 'custom--regular';
    src: url('custom-fonts/Montserrat/Montserrat-Regular.ttf');
}

//Thin
@font-face {
    font-family: 'custom--thin';
    src: url('custom-fonts/Montserrat/Montserrat-Thin.ttf');
}