*,
*::after,
*::before {

    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
    // 10 / 16 * 100 = 62.5%	we used 10 here so it'll be easy to convert for us


    @include respond(tab-land) {
    	font-size: 56.25%;	//9px
    };

    @include respond(tab-port) {
    	font-size: 50%; //8px
    };

    @include respond(phone) {
        font-size: 43.75%; //7px
    };
    
    @include respond(big-desktop) {
    	font-size: 75%;	//12px
    };
}

body {

    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}